.header {
    height: 60px;
    width: 100%;
}

.header_container {
    width: 100%;
    background: linear-gradient(to right, #00ff7f, #7fffd4, #1e90ff);
    height: 40px;
    padding: 10px 0 10px;
    display: flex;
    justify-content: space-between;
}

.header_logo {
    font-size: 1.1rem;
    height: 60px;
    margin-top: -10px;
    padding-left: 1rem;
    cursor: pointer;
}

.header_logo p:first-child {
    font-weight: 700;
    margin: 0;
    height: 35px;
}
.header_logo p:first-child > span {
    font-weight: 700;
    font-size: 1.7rem;
}
.header_logo p:last-child {
    font-weight: 700;
    margin: 0;
    height: 25px;
    padding-left: 0.9rem;
    margin-top: -0.5rem;
}
.header_logo p:last-child > span {
    font-weight: 700;
    font-size: 1.4rem;
}

.header_user_wrapper {
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: flex-end;
}

.header_username_wrapper {
    width: auto;
    height: 35px;
    margin: 5px 20px 0 0;
    align-self: center;
}

.header_username_core {
    width: 300px;
    height: 35px;
    line-height: 35px;
    margin: 0;
    text-align: end;
}

.header_user_image_wrapper {
    position: relative;
    min-width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    border: none;
    align-self: center;
}

.header_user_image_core {
    background-color: whitesmoke;
    min-width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    border: none;
    align-self: center;
    object-fit: contain;
}

.header_user_image_core_none {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: whitesmoke;
    border-radius: 50%;
}

.header_account_triangle {
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-top: 9.6px solid black;
    margin-right: 10px;
    align-self: center;
    cursor: pointer;
}

.header_auth_control {
    width: 150px;
    height: 30px;
    margin: -10px 10px 0 auto;
    cursor: pointer;
    z-index: 10;
    position: relative;
}

.header_auth_control ul {
    position: absolute;
    border: 1px solid black;
    background-color: aliceblue;
    padding: 0;
    margin: 0;
}

.header_auth_control li {
    z-index: 10;
    list-style: none;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    font-size: 1rem;
    text-align: center;
    width: 150px;
    height: 30px;
    line-height: 30px;
}

.header_auth_control li:last-child {
    border-bottom: none;
}

.header_menuicon {
    display: none;
}

.header_drawerList {
    width: 170px;
    padding: 10px;

    .header_user_image_wrapper {
        position: relative;
        min-width: 40px;
        height: 40px;
        margin-right: 10px;
        border-radius: 50%;
        border: none;
        align-self: center;
    }

    &.header_user_image_core {
        background-color: whitesmoke;
        min-width: 40px;
        height: 40px;
        margin-right: 10px;
        border-radius: 50%;
        border: 1px solid black;
        align-self: center;
        object-fit: contain;
        margin-right: 10px;
    }

    &.header_user_image_core_none {
        position: relative;
        width: 40px;
        height: 40px;
        background-color: whitesmoke;
        border-radius: 50%;
    }
}

.header_drawerProfile {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.header_drawerLogout {
    margin-top: 10px;
    margin-left: 10px;
}

.header_drawerSignIn {
    margin-top: 10px;
    margin-left: 10px;
}

@media (max-width: 450px) {
    .header_container {
        justify-content: space-between;
    }
    .header_user_wrapper,
    .header_auth_control {
        display: none;
    }

    .header_menuicon {
        display: block;
        border: 1px solid gray;
        border-radius: 5px;
        height: 32px;
        margin-top: 3px;
        margin-right: 10px;
    }
}
