.ptf_container {
    width: 600px;
    height: 410px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 5px;
}

.ptf_image_wrapper {
    position: relative;
    width: 500px;
    height: 300px;
    margin: 10px auto 5px;
    border: 1px solid gray;
}

.ptf_image_core {
    width: 100%;
    height: 300px;
    object-fit: contain;
    display: block;
    background-color: rgb(36, 36, 36);
}

.ptf_workname_wrapper {
    margin-left: 20px;
}

.ptf_workname_core {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0;
}

.ptf_username_wrapper {
    margin-left: 25px;
}

.ptf_username_core {
    margin: 2px 5px 2px;
    font-size: 1rem;
}

.ptf_star_wrapper {
    margin-left: 15px;
    height: 25px;
}

.ptf_star_core {
    width: 27px;
    height: 27px;
    line-height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ptf_star_reviewavg {
    min-width: 25px;
    max-width: 100px;
    line-height: 27px;
    height: 27px;
    text-align: center;
}

/* pc 950px~ */
/* tablet 500px~ 950px */
/* large phone 350px ~ 500px */
/* small phone(gallay fold) ~ 350px */

@media (min-width: 950px) {
    .ptf_star_wrapper {
        margin-left: 15px;
        height: 25px;
    }

    .ptf_star_core {
        width: 27px;
        height: 27px;
        line-height: 27px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ptf_star_reviewavg {
        min-width: 20px;
        max-width: 100px;
        line-height: 27px;
        height: 27px;
        text-align: start;
        padding-top: 1px;
        margin-left: 3px;
    }
}

// tablet
@media (min-width: 501px) and (max-width: 950px) {
    .ptf_container {
        width: 460px;
        height: 350px;
        margin: 0 auto;
        border: 1px solid black;
        border-radius: 5px;
    }

    .ptf_image_wrapper {
        position: relative;
        width: 400px;
        height: 250px;
        margin: 10px auto 5px;
        border: 1px solid gray;
    }

    .ptf_image_core {
        width: 100%;
        height: 250px;
        object-fit: contain;
        display: block;
    }

    .ptf_workname_wrapper {
        margin-left: 15px;
    }

    .ptf_workname_core {
        font-weight: bold;
        font-size: 1rem;
        margin: 0;
    }

    .ptf_username_wrapper {
        margin-left: 20px;
    }

    .ptf_username_core {
        margin: 3px 0 3px;
        font-size: 0.9rem;
    }

    .ptf_star_wrapper {
        margin-left: 10px;
    }

    .ptf_star_core {
        width: 22px;
        height: 22px;
        line-height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ptf_star_reviewavg {
        min-width: 20px;
        max-width: 100px;
        line-height: 22px;
        height: 22px;
        text-align: start;
        padding-top: 1px;
        margin-left: 3px;
    }
}

// large mobile
@media (min-width: 350px) and (max-width: 500px) {
    .ptf_container {
        width: 100%;
        height: 350px;
        margin: 0 auto;
        border: none;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        box-sizing: border-box;
        border-radius: 0px;
    }

    .ptf_image_wrapper {
        position: relative;
        width: 85%;
        height: 250px;
        margin: 10px auto 5px;
        border: 1px solid gray;
    }

    .ptf_image_core {
        width: 100%;
        height: 250px;
        object-fit: contain;
        display: block;
    }

    .ptf_workname_wrapper {
        margin-left: 15px;
    }

    .ptf_workname_core {
        font-weight: bold;
        font-size: 1rem;
        margin: 0;
    }

    .ptf_username_wrapper {
        margin-left: 20px;
    }

    .ptf_username_core {
        margin: 3px 0;
        font-size: 0.8rem;
    }

    .ptf_star_wrapper {
        margin-left: 12px;
    }

    .ptf_star_core {
        width: 22px;
        height: 22px;
        line-height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ptf_star_reviewavg {
        min-width: 20px;
        max-width: 100px;
        line-height: 22px;
        height: 22px;
        text-align: start;
        padding-top: -1px;
        font-size: 0.9rem;
        margin-left: 3px;
    }
}

// small mobile
@media (max-width: 350px) {
    .ptf_container {
        width: 100%;
        height: 240px;
        margin: 0 auto;
        border: none;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        box-sizing: border-box;
        border-radius: 0px;
    }

    .ptf_image_wrapper {
        position: relative;
        width: 85%;
        height: 150px;
        margin: 10px auto 5px;
        border: 1px solid gray;
    }

    .ptf_image_core {
        width: 100%;
        height: 150px;
        object-fit: contain;
        display: block;
    }

    .ptf_workname_wrapper {
        margin-left: 10px;
    }

    .ptf_workname_core {
        font-weight: bold;
        font-size: 0.8rem;
        margin: 0;
    }

    .ptf_username_wrapper {
        margin-left: 15px;
    }

    .ptf_username_core {
        margin: 3px 0 0;
        font-size: 0.7rem;
    }

    .ptf_star_wrapper {
        margin-left: 5px;
    }

    .ptf_star_core {
        width: 20px;
        height: 20px;
        line-height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ptf_star_reviewavg {
        min-width: 20px;
        max-width: 100px;
        line-height: 20px;
        height: 20px;
        text-align: start;
        margin-left: 0px;
        padding-top: 1px;
        margin-left: 3px;
        font-size: 0.85rem;
    }
}
